---
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { LeaderboardPerformance } from "../../components/leaderboard/Performance";
---

<LayoutSidebar>
    <div class="text-6xl text-gray-100 flex justify-center mt-2 mb-10 font-semibold">Overall Performance Leaderboard</div>
	<LeaderboardPerformance client:only="react" />
</LayoutSidebar>
