@import "tailwindcss";
@config "../../tailwind.config.cjs";

@theme {
    --cursor-default: url('/images/icons/cursor_default.png'), default;
    --cursor-pointer: url('/images/icons/cursor_pointer.png'), pointer;
}


@layer base {

    a,
    a::before,
    a::after,
    .apexcharts-legend-text,
    .apexcharts-menu-icon,
    .apexcharts-zoomin-icon,
    .apexcharts-zoomout-icon,
    .apexcharts-zoom-icon,
    .apexcharts-pan-icon,
    .apexcharts-reset-icon,
    .apexcharts-menu-item,
    .apexcharts-toolbar,
    input,
    button,
    button::before,
    button::after {
        @apply cursor-pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        scroll-margin-top: 84px;
    }

    .lil-gui {
	@apply !bg-transparent !font-bungo !text-[rgb(149,150,154)] !text-xl;
    }

    .lil-gui .title::after {
        content: "" !important;
    }

    .lil-gui option {
        @apply !bg-gray-900 hover:!bg-gray-800
    }

    .lil-gui select,
    .lil-gui input,
    .lil-gui label {
        @apply !cursor-pointer
    }

    .lil-gui .title {
        @apply !bg-transparent !cursor-pointer !text-[rgb(149,150,154)] !font-bungo !text-2xl !font-light !tracking-tight !border-b-2 !border-[rgb(149,150,154)] !pb-9;
    }


    .apexcharts-legend-text,
    .apexcharts-text,
    .apexcharts-xaxis-label {
        @apply !text-gray-900 dark:!text-white;
    }

    .apexcharts-tooltip {
        @apply !bg-white dark:!bg-gray-700 !text-gray-500 dark:!text-gray-300 !border-0 !rounded-lg !shadow-lg;
    }

    .apexcharts-tooltip,
    .apexcharts-tooltip-title {
        @apply  !border-b !border-gray-200 dark:!border-gray-500 !bg-gray-50 dark:!bg-gray-950;
    }

    .apexcharts-xaxistooltip,
    .apexcharts-yaxistooltip {
        @apply !text-gray-400 dark:!text-gray-200 !border-0 !bg-white dark:!bg-gray-800 !rounded-lg !shadow-lg;
    }

    .apexcharts-tooltip,
    .apexcharts-tooltip-text-y-value,
    .apexcharts-tooltip-text-x-value {
        @apply !text-black dark:!text-white;
    }

    .apexcharts-xaxistooltip-text {
        @apply !font-medium text-sm;
    }

    .apexcharts-xaxistooltip:before,
    .apexcharts-xaxistooltip:after {
        @apply !border-0;
    }

    .react-tooltip {
        z-index: 50;
    }
}

@layer components {
    .stylized-link {
      @apply hover:text-black dark:hover:text-white hover:decoration-2 underline underline-offset-4 decoration-[1px]
    }
    .stylized-link-bright {
        @apply hover:text-white hover:decoration-2 underline underline-offset-4 decoration-[1px]
      }
    .dc-js-chart {
        @apply p-2
    }
    .dc-js-chart-full {
        @apply lg:w-[calc(100lvw-460px)] max-w-[1000px]
    }
    .dc-table-column, .dc-table-head {
        @apply px-1
    }
  }
  
  /* Animated masterwork border by Lab*/
    ._itemMasterworked {
        border-image: linear-gradient(var(--border-gradient-angle),
                rgba(201, 166, 42, 1) 20%,
                rgba(249, 245, 230, 1) 50%,
                rgba(201, 166, 42, 1) 80%) 1;
        border-width: 2px;
        border-style: solid;
        animation-name: _borderRotation;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    @keyframes _borderRotation {
        0% {
            --border-gradient-angle: 0deg;
        }
        100% {
            --border-gradient-angle: 360deg;
        }
    }
    @property --border-gradient-angle {
        syntax: '<angle>';
        initial-value: 0deg;
        inherits: false;
    }