---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import PGCRLookup from "../modules/PGCRLookup.tsx";
---

<LayoutSidebar
	title="Match Lookup"
	og_title="Match Lookup"
	og_description="Look up your Team Scorched matches."
	fullscreen={true}
>
	<div class="flex justify-center mt-[68px] lg:mt-10">
		<PGCRLookup client:only="react" />
	</div>
</LayoutSidebar>
