---
import FooterSidebar from "../app/FooterSidebar.astro";
import LayoutSidebar from "../app/LayoutSidebar.astro";
import ReportLookup from "../modules/ReportLookup.tsx";
import TooltipDestinyEventHandler from "../components/showcase/ToolTipDestinyEventHandler.astro";
---

<LayoutSidebar
	title="Scorcher Lookup"
	og_title="Scorcher Lookup"
	og_description="Look up your Team Scorched stats and your previous matches."
	bg_color="bg-[rgb(202,201,211)] dark:bg-[rgb(27,26,37)]"
	fullscreen={true}
>
	<img
		src={"/images/timeline/backgrounds/Season_1.webp"}
		class="fixed top-0 object-cover object-center justify-center no-fullscreen h-full w-full opacity-50 grayscale-50 contrast-125 -z-10"
		loading="lazy"
	/>
	<ReportLookup client:only="react" />
	<TooltipDestinyEventHandler />
	<div class=" bg-[rgba(202,201,211,0.5)] dark:bg-[rgba(27,26,37,0.5)]">
		<FooterSidebar />
	</div>
</LayoutSidebar>
