---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import { SETimeline } from "../components/timeline/SE_Timeline";
import TooltipDestinyEventHandler from "../components/showcase/ToolTipDestinyEventHandler.astro";
import FooterSidebar from "../app/FooterSidebar.astro";
---

{
	/*
<Redirect
	og_title="Scorched Enthusiasts"
	og_description="We are a people with a dream: to bring upon the world the divine balance of the most chaotic of game modes. We aim to take no prisoners in this world, but in our dedication to Scorched we shall strike furious anger upon our adversaries and never bend to any pressure. All that may oppose us shall be consigned to our flames. We humbly ask in return is your absolute allegiance to the most glorious and most highly favored of game modes. We seek your commitment to this struggle and all strife we endure in the future. We are the largest group of Scorched Enthusiasts from the group we graciously call the Scorched Realm. Our fire shall never fade."
	og_hero_image="/images/news/SE_2025.jpg"
	redirectUrl={"https://www.bungie.net/en/ClanV2?groupid=4983002"}
/> */
}

<LayoutSidebar
	title="Team Scorched Timeline"
	og_title="Team Scorched Timeline"
	og_description="All highlights of Destiny 2's best pvp gamemode"
	og_hero_image="/images/potential/Season_1.png"
	bg_color="bg-[rgb(202,201,211)] dark:bg-[rgb(27,26,37)]"
	fullscreen={true}
>
	<SETimeline client:only="react" />
	<TooltipDestinyEventHandler />
	<div class="bg-[rgb(202,201,211)] dark:bg-[rgb(27,26,37)] mask-t-from-70% pt-22">
		<FooterSidebar />
	</div>
</LayoutSidebar>
