---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import SCORCHED_CANNONS from "../lib/cannons";
import SeasonSection from "../components/SeasonSection.astro";
import TableOfContents from "../components/TableOfContents.astro";
import MarkdownWrapper from "../app/MarkdownWrapper.astro";
import CannonShowcaseMd from "../components/CannonShowcase.md";

const headings: {
	depth: number;
	slug: string;
	text: string;
	subheadings: never[];
}[] = [];

headings.push({
	depth: 1,
	slug: "Scorched Cannon Showcase"
		.toLowerCase()
		.replaceAll(" ", "-")
		.replaceAll(/[^\w-_]/gm, ""),
	text: "Scorched Cannon Showcase",
	subheadings: [],
});

Object.keys(SCORCHED_CANNONS).map((key) =>
	headings.push({
		depth: 2,
		slug: SCORCHED_CANNONS[key]!.name.toLowerCase()
			.replaceAll(" ", "-")
			.replaceAll(/[^\w-_]/gm, ""),
		text: SCORCHED_CANNONS[key]!.name,
		subheadings: [],
	})
);
---

<LayoutSidebar
	title="Scorched Cannon Showcase"
	make_title="Scorched Cannon Showcase"
	og_title="Scorched Cannon Showcase"
	og_description="Browse and collect all custom Scorched Cannons from Team Scorched"
	og_image="/images/exotic_cannon.png"
>
	<div class="flex justify-center 2xl:justify-normal">
		<div
			class="max-w-[100vw] lg:p-6 text-clip overflow-hidden
    
    dark:text-gray-300 mt-4 mb-4"
		>
			<TableOfContents headings={headings} />
			<MarkdownWrapper>
				<CannonShowcaseMd />
			</MarkdownWrapper>
			<div class="">
				{
					Object.keys(SCORCHED_CANNONS).map((key) => (
						<SeasonSection season={SCORCHED_CANNONS[`${key}`]} />
					))
				}
			</div>
		</div>
	</div>
<script>
	// Find all buttons with the `alert` class on the page.
	const buttons = document.querySelectorAll("button.image-to-fullscreen");

	// Handle clicks on each button.
	buttons.forEach((button) => {
		if (button.classList.contains("gltf")) {
		button.addEventListener("click", () => {
			const activationButton = document.getElementById('GLTFViewer_button_' + button.dataset.cannon)
			
			activationButton?.click(); // Load react content

			document.getElementById("cannon_preview_image" + button.dataset.cannon)?.toggleAttribute("hidden"); // Hide 2d cannon image
			
			//toggle icons
			document.getElementById("cannon_3d_toggle_icon_" + button.dataset.cannon)?.toggleAttribute("hidden"); 
			document.getElementById("cannon_2d_toggle_icon_" + button.dataset.cannon)?.toggleAttribute("hidden"); 
		})
		} else {
		button.addEventListener("click", () => {
			const image = document.getElementById(
				`popup_image_${button.dataset.cannon}`
			);

			image.setAttribute("src", image.dataset.url);
			document.getElementById(`popup_${button.dataset.cannon}`).openPop();
		});
		}
	});
</script>

</LayoutSidebar>
