---
import LayoutSidebar from "../app/LayoutSidebar.astro";
import SCORCHED_CANNONS from "../lib/cannons";
import SeasonSection from "../components/SeasonSection.astro";
import TableOfContents from "../components/TableOfContents.astro";

const headings: {
	depth: number;
	slug: string;
	text: string;
	subheadings: never[];
}[] = [];

headings.push({
	depth: 1,
	slug: "Scorched Cannon Showcase"
		.toLowerCase()
		.replaceAll(" ", "-")
		.replaceAll(/[^\w-_]/gm, ""),
	text: "Scorched Cannon Showcase",
	subheadings: [],
});

Object.keys(SCORCHED_CANNONS).map((key) =>
	headings.push({
		depth: 2,
		slug: SCORCHED_CANNONS[key]!.name.toLowerCase()
			.replaceAll(" ", "-")
			.replaceAll(/[^\w-_]/gm, ""),
		text: SCORCHED_CANNONS[key]!.name,
		subheadings: [],
	})
);
---

<LayoutSidebar
	title="Scorched Cannon Showcase"
	make_title="Scorched Cannon Showcase"
	og_title="Scorched Cannon Showcase"
	og_description="Browse and collect all custom Scorched Cannons from Team Scorched"
	og_image="/images/exotic_cannon.png"
>
	<div class="flex justify-center 2xl:justify-normal 2xl:ml-[2%]">
		<div
			class="max-w-[100vw] p-6 text-clip overflow-hidden
    
    dark:text-gray-300 mt-4 mb-4"
		>
			<TableOfContents headings={headings} />
			<div class="">
				{
					Object.keys(SCORCHED_CANNONS).map((key) => (
						<SeasonSection season={SCORCHED_CANNONS[`${key}`]} />
					))
				}
			</div>
		</div>
	</div>
</LayoutSidebar>
