---

import { getEntry } from "astro:content";
import PopUp from "../components/PopUp.astro";
import MarkdownWrapper from "./MarkdownWrapper.astro";

const entry = await getEntry("pages", "discord");
const { Content } = await entry.render();
---

<footer class="pt-4 mt-6 rounded-lg md:flex justify-center flex">
	<img
		class="mask-linear mask-to-[0] mask-point-to-[80%]"
		src="/images/crucible_logo.png"
	/>
</footer>

<footer
	class="pb-2 mb-2 mx-4 rounded-lg flex justify-center md:pb-2 md:px-6 xl:pb-2 xl:px-8"
>
	<div class="absolute flex flex-wrap justify-center"></div>
	<ul class="flex flex-wrap justify-center mb-6 space-x-2 space-y-0 md:mb-0 text-center">
		<li>
			<a
				href="/about"
				class="text-sm font-normal text-gray-500 hover:text-gray-900 hover:dark:text-gray-200 md:mr-6 dark:text-gray-400"
				>uniQ & Contributors</a
			>
		</li>
		<li>
			<a
				href="/privacy"
				class="text-sm font-normal text-gray-500 hover:text-gray-900 hover:dark:text-gray-200 md:mr-6 dark:text-gray-400"
				>Privacy Policy</a
			>
		</li>
		<li>
			<a
				href="/license_md"
				class="text-sm font-normal text-gray-500 hover:text-gray-900 hover:dark:text-gray-200 md:mr-6 dark:text-gray-400"
				>License</a
			>
		</li>
		<li>
			<a
				href="/faq#why-is-this-data-different"
				class="text-sm font-normal text-gray-500 hover:text-gray-900 hover:dark:text-gray-200 md:mr-6 dark:text-gray-400"
				>Why this data might not match other sources</a
			>
		</li><!--
		<li>
			<a
				href="#"
				class="text-sm font-normal text-gray-500 hover:text-gray-900 hover:dark:text-gray-200 dark:text-gray-400"
				>Contact</a
			>
		</li> -->
	</ul>
</footer>
<footer class="pb-4 mb-6 mx-4 rounded-lg flex justify-center md:pb-6 md:px-6 xl:pb-8 xl:px-8">
	
	<div class="flex space-x-6">
		<a
				href="javascript:void(0);"
				onclick="document.getElementById('popup_discord').openPop()"
				class="inline-flex justify-center text-gray-500 rounded hover:text-gray-900 dark:hover:text-white"
			>
				<svg
					xmlns="http://www.w3.org/2000/svg"
					class="w-5 h-5"
					fill="currentColor"
					viewBox="0 0 50 50"
				>
					<path
						d="M42.298,11.65c-0.676-1.021-1.633-1.802-2.768-2.256c-2.464-0.988-4.583-1.648-6.479-2.02	C31.721,7.114,30.404,7.768,29.771,9l-0.158,0.308c-1.404-0.155-2.895-0.207-4.593-0.164c-1.741-0.042-3.237,0.009-4.643,0.164	L20.22,9c-0.633-1.232-1.952-1.885-3.279-1.625c-1.896,0.371-4.016,1.031-6.479,2.02c-1.134,0.454-2.091,1.234-2.768,2.256	c-4.721,7.131-6.571,14.823-5.655,23.517c0.032,0.305,0.202,0.578,0.461,0.741c3.632,2.29,6.775,3.858,9.891,4.936	c1.303,0.455,2.748-0.054,3.517-1.229l1.371-2.101c-1.092-0.412-2.158-0.9-3.18-1.483c-0.479-0.273-0.646-0.884-0.373-1.363	c0.273-0.481,0.884-0.65,1.364-0.373c3.041,1.734,6.479,2.651,9.942,2.651s6.901-0.917,9.942-2.651	c0.479-0.277,1.09-0.108,1.364,0.373c0.273,0.479,0.106,1.09-0.373,1.363c-1.056,0.603-2.16,1.105-3.291,1.524l1.411,2.102	c0.581,0.865,1.54,1.357,2.528,1.357c0.322,0,0.647-0.053,0.963-0.161c3.125-1.079,6.274-2.649,9.914-4.944	c0.259-0.163,0.429-0.437,0.461-0.741C48.869,26.474,47.019,18.781,42.298,11.65z M18.608,28.983c-1.926,0-3.511-2.029-3.511-4.495	c0-2.466,1.585-4.495,3.511-4.495s3.511,2.029,3.511,4.495C22.119,26.954,20.534,28.983,18.608,28.983z M31.601,28.957	c-1.908,0-3.478-2.041-3.478-4.522s1.57-4.522,3.478-4.522c1.908,0,3.478,2.041,3.478,4.522S33.509,28.957,31.601,28.957z"
					>
					</path>
				</svg>
			</a>
			<PopUp id="popup_discord" timer={1} description={"Discord Invite"}>
				<MarkdownWrapper>
					<Content />
				</MarkdownWrapper>
			</PopUp>
			<!--
		<a
			href="#"
			class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
		>
			<svg
				class="w-5 h-5"
				fill="currentColor"
				viewBox="0 0 24 24"
				aria-hidden="true"
			>
				<path
					d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
				>
				</path>
			</svg>
		</a>
		<a
			href="#"
			class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
		>
			<svg
				class="w-5 h-5"
				fill="currentColor"
				viewBox="0 0 24 24"
				aria-hidden="true"
			>
				<path
					d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84"
				>
				</path>
			</svg>
		</a>
		<a
			href="#"
			class="inline-flex justify-center text-gray-500 rounded hover:text-gray-900 dark:hover:text-white"
		>
			<svg
				xmlns="http://www.w3.org/2000/svg"
				class="w-5 h-5"
				fill="currentColor"
				viewBox="0 0 600 530"
			>
				<path
					d="m135.72 44.03c66.496 49.921 138.02 151.14 164.28 205.46 26.262-54.316 97.782-155.54 164.28-205.46 47.98-36.021 125.72-63.892 125.72 24.795 0 17.712-10.155 148.79-16.111 170.07-20.703 73.984-96.144 92.854-163.25 81.433 117.3 19.964 147.14 86.092 82.697 152.22-122.39 125.59-175.91-31.511-189.63-71.766-2.514-7.3797-3.6904-10.832-3.7077-7.8964-0.0174-2.9357-1.1937 0.51669-3.7077 7.8964-13.714 40.255-67.233 197.36-189.63 71.766-64.444-66.128-34.605-132.26 82.697-152.22-67.108 11.421-142.55-7.4491-163.25-81.433-5.9562-21.282-16.111-152.36-16.111-170.07 0-88.687 77.742-60.816 125.72-24.795z"
				>
				</path>
			</svg>
		</a> -->
		<a
			href="https://github.com/uniQIndividual/scorched.report"
			target="_blank"
			class="text-gray-500 hover:text-gray-900 dark:text-gray-400 dark:hover:text-white"
		>
			<svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24">
				<path
					d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
				>
				</path>
			</svg>
		</a>
	</div>
</footer>