---
import FooterSidebar from "./FooterSidebar.astro";
import LayoutCommon from "./LayoutCommon.astro";
import NavBarSidebar from "./NavBarSidebar.astro";
import SideBar from "./SideBar.astro";
---

<style is:global>
	div {
		@apply !cursor-default;
	}
	img {
		@apply cursor-default;
	}
	a,
	a::before,
	a::after,
	.apexcharts-legend-text,
	.apexcharts-menu-icon,
	.apexcharts-zoomin-icon,
	.apexcharts-zoomout-icon,
	.apexcharts-zoom-icon,
	.apexcharts-pan-icon,
	.apexcharts-reset-icon,
	.apexcharts-menu-item,
	button,
	button::before,
	button::after {
		@apply !cursor-pointer;
	}
	.apexcharts-menu {
		border: 0px !important;
	}
</style>
<LayoutCommon>
	<NavBarSidebar />

	<SideBar />

	<div class="flex pt-16 overflow-hidden bg-gray-50 dark:bg-gray-900">
		<div
			id="main-content"
			class="relative w-full h-full overflow-y-auto bg-gray-50 lg:ml-[380px] mt-6 lg:mt-2 mx-4 lg:mx-10 dark:bg-gray-900 min-h-screen"
		>
			<slot />

			<FooterSidebar />
		</div>
	</div>
</LayoutCommon>
