---
/* eslint max-lines: 'off' */

import ColorModeSwitcher from "../components/ColorModeSwitcher.astro";
---

<style>
	.topic {
	}
</style>
<nav class="fixed z-30 w-full dark:transparent bg-[rgba(50,50,50,1)] lg:bg-[rgba(0,0,0,0)]">
	<div class="px-3 py-3 lg:px-5 lg:pl-3">
		<div class="flex items-center justify-between">
			<div class="flex items-center justify-start">
				<button
					id="toggleSidebarMobile"
					aria-expanded="true"
					aria-controls="sidebar"
					class="p-2 text-gray-600 rounded lg:hidden hover:text-gray-900 hover:bg-gray-100 focus:bg-gray-100 dark:focus:bg-gray-700 focus:ring-2 focus:ring-gray-100 dark:focus:ring-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white"
				>
					<svg
						id="toggleSidebarMobileHamburger"
						class="w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h6a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
						>
						</path>
					</svg>
					<svg
						id="toggleSidebarMobileClose"
						class="hidden w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
						>
						</path>
					</svg>
				</button>
				<a href="/" class="flex ml-2 md:mr-24">
					<img src={"/images/logo2.png"} class="h-10 lg:h-14 mr-3 mt-1" />
					<span
						class="cursor-pointer self-center font-semibold text-2xl whitespace-nowrap dark:text-white"
						>Scorched Report</span
					>
					<span class="dark:text-gray-300 text-sm font-light">beta</span>
				</a>
			</div>

			<div class="flex items-center">

				<!-- Apps -->
				<button
					type="button"
					data-dropdown-toggle="apps-dropdown"
					class="hidden p-2 text-gray-500 rounded-lg sm:flex hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-700"
				>
					<span class="sr-only">Other cool Resources</span>
					<!-- Icon -->
					<svg
						class="w-6 h-6"
						fill="currentColor"
						viewBox="0 0 20 20"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
						>
						</path>
					</svg>
				</button>
				<!-- Dropdown menu -->
				<div
					class="z-20 z-50 hidden max-w-sm my-4 overflow-hidden text-base list-none bg-white divide-y divide-gray-100 rounded shadow-lg dark:bg-gray-900 dark:divide-gray-600"
					id="apps-dropdown"
				>
					<div
						class="block px-4 py-2 text-base font-medium text-center text-gray-700 bg-gray-50 dark:bg-gray-700 dark:text-gray-400"
					>
						Additional Resources
					</div>
					<div class="grid grid-cols-3 gap-4 p-4">
						<a
							href="https://scorched.nblock.dev/"
							target="_blank"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
						<svg
							class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							fill="none"
							viewBox="0 0 24 24"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
							></path>
						</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								Scorched Bot
							</div>
						</a>
						<a
							href="https://member.report/"
							target="_blank"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
							<svg
								class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
								aria-hidden="true"
								xmlns="http://www.w3.org/2000/svg"
								width="24"
								height="24"
								fill="none"
								viewBox="0 0 24 24"
							>
								<path
									stroke="currentColor"
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
								></path>
							</svg>

							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								Member Report
							</div>
						</a>
						<a
							href="https://bray.tech/"
							target="_blank"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
							
						<svg
						class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
						aria-hidden="true"
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						fill="none"
						viewBox="0 0 24 24"
					>
						<path
							stroke="currentColor"
							stroke-linecap="round"
							stroke-linejoin="round"
							stroke-width="2"
							d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
						></path>
					</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								BrayTech
							</div>
						</a>
						<a
							href="https://crucible.report/"
							target="_blank"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
						<svg
							class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							fill="none"
							viewBox="0 0 24 24"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
							></path>
						</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								Crucible Report
							</div>
						</a>
						<a
							href="https://guardianphotographer.com/"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
						<svg
							class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							fill="none"
							viewBox="0 0 24 24"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
							></path>
						</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								Guardian Photographer
							</div>
						</a>
						<a
							href="https://glory.report/"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
						<svg
							class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							width="24"
							height="24"
							fill="none"
							viewBox="0 0 24 24"
						>
							<path
								stroke="currentColor"
								stroke-linecap="round"
								stroke-linejoin="round"
								stroke-width="2"
								d="M18 14v4.833A1.166 1.166 0 0 1 16.833 20H5.167A1.167 1.167 0 0 1 4 18.833V7.167A1.166 1.166 0 0 1 5.167 6h4.618m4.447-2H20v5.768m-7.889 2.121 7.778-7.778"
							></path>
						</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								glory.report
							</div>
						</a>
						<a
							href="steam://launch/230410"
							class="block p-4 text-center rounded-lg hover:bg-gray-100 dark:hover:bg-gray-600"
						>
							<svg
								class="mx-auto mb-1 text-gray-500 w-7 h-7 dark:text-gray-400"
								fill="none"
								stroke="currentColor"
								viewBox="0 0 24 24"
								xmlns="http://www.w3.org/2000/svg"
							>
								<path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
								>
								</path>
							</svg>
							<div
								class="text-sm font-medium text-gray-900 dark:text-white cursor-pointer"
							>
								Quit Destiny 2
							</div>
						</a>
					</div>
				</div>

				<ColorModeSwitcher />
			</div>
		</div>
	</div>
</nav>
