---
const { id, title } = Astro.props;
---

<div
	id={id}
	role="tooltip"
	class="absolute z-10 invisible px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-800 rounded-lg shadow-sm opacity-0 tooltip"
>
	{title}
	<div class="tooltip-arrow" data-popper-arrow></div>
</div>
