---
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { EloDistribution } from "../../components/science/EloDistribution.tsx";
import EloDistributionMd from "../../components/science/EloDistribution.md";
import MarkdownWrapper from "../../app/MarkdownWrapper.astro";
---

<LayoutSidebar
	title="Elo Distribution"
	make_title="Team Scorched Elo Distribution"
	og_title="Team Scorched Elo Distribution"
	og_description="Looking at how Scorched Report calculates your Elo score."
>
	<div class="-mt-10">
		<MarkdownWrapper>
			<EloDistributionMd />
		</MarkdownWrapper>
	</div>
	<div id="science-graph-1">
		<h2 class="text-gray-900 dark:text-gray-100 text-xl mb-2 mt-2 flex justify-center">
			The Scorched Report Elo Distribution
		</h2>
		<EloDistribution client:only />
	</div>
</LayoutSidebar>
