---
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { EloDistribution } from "../../components/science/EloDistribution.tsx";
import EloDistributionMd from "../../components/science/EloDistribution.md";
import MarkdownWrapper from "../../app/MarkdownWrapper.astro";
import metadata from "../../assets/metadata.json";
---

<LayoutSidebar
	title="Elo Distribution"
	make_title="Team Scorched Elo Distribution"
	og_title="Team Scorched Elo Distribution"
	og_description="Looking at how Scorched Report calculates your Elo score."
	date="2025-02-05"
	author="uniQ"
	tags={[
		"elo",
		"elo distribution",
		"team scorched",
		"destiny 2",
		"crucible",
		"openskill",
	]}
>
	<div class="-mt-10">
		<MarkdownWrapper>
			<EloDistributionMd />
		</MarkdownWrapper>
	</div>
	<div id="science-graph-1">
		<h2
			class="text-gray-900 dark:text-gray-100 text-xl mb-2 mt-2 flex justify-center"
		>
			The Scorched Report Elo Distribution
		</h2>
		<span class="text-gray-700 dark:text-gray-300 mb-2 flex justify-center"
			> (as of {
				new Date(metadata.last_entry_date * 1000).toLocaleString(undefined, {
					year: "numeric",
					month: "long",
					day: "numeric",
				})
			})
		</span>
		<EloDistribution client:only />
	</div>
</LayoutSidebar>
