---
import LayoutSidebar from "../../app/LayoutSidebar.astro";
import { MapScience } from "../../components/science/maps";
---

<LayoutSidebar>
    <div class="text-6xl text-gray-100 flex justify-center text-center lg:mt-2 mb-4 lg:mb-10 m-4 font-semibold p-1.5">Map Ranking</div>
	<MapScience client:only="react" />
</LayoutSidebar>
